{% extends 'admin/model/list.html' %}


{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block model_menu_bar_after_filters %}
<div class="col-md-4 hidden-xs hidden-sm">
    <div class="well well-sm">
        <small style="padding-right:1em"><em>Legend</em></small>
        <span class="label label-primary">Concept ACK</span>
        <span class="label label-success">Tested ACK</span>
        <span class="label label-success" style="background-color: #2d672d;">Stale Tested ACK</span>
        <span class="label label-warning">utACK</span>
        <span class="label label-warning" style="background-color: #b06d0f;">Stale utACK</span>
        <span class="label label-danger">NACK</span>
    </div>
</div>

<div>
    <a role="button" class="btn btn-primary" href="{{ url_for(admin_view.endpoint + '.index_view', flt0_merged_empty=1, flt3_closed_empty=1)}}">Open PRs</a>
</div>
{% endblock %}

{% block access_control %}
    {{ super() }}
    <div class="brand hidden-xs">
        <a  target="_blank" href="https://www.riotblockchain.com/">
            <img style="height: 48px;" src="{{ url_for('static', filename='riot_blockchain.png') }}">
        </a>
    </div>
{% endblock %}

{% block list_row %}
{% if get_value(row, 'is_high_priority') %}
<tr class="info">
{{ super() }}
</tr>
    {% elif get_value(row, 'closed_at') %}
    <tr style="background-color: #E5E5E5;">
        {{ super() }}
    </tr>

{% else %}
{{ super() }}
{% endif %}
{% endblock %}

{% block list_row_actions %}
{% if get_value(row, 'is_high_priority') %}
<p><small><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
    High Priority Review</small></p>
{% endif %}

{{ super() }}
{% endblock %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/gh.css') }}">
<style>
    .navbar {
        position: relative;
    }
    .brand {
        position: absolute;
        left: 50%;
        margin-left: -50px !important;  /* 50% of your logo width */
        display: block;
    }
</style>
{% endblock %}


{% block page_body %}
<a target=blank class="github-fork-ribbon" href="https://github.com/pierrerochard/bitcoin-acks/issues" data-ribbon="File an issue" title="File an issue">File an issue</a>
{{ super() }}
{% endblock %}

{% block tail_js %}
{{ super() }}
<script>
    document.getElementById("fa_modal_window").childNodes[1].classList.add("modal-lg");
</script>
{% endblock %}